<a href="https://colab.research.google.com/github/masy-web/Statistika/blob/main/statistika8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import math as mt

In [4]:
nilaitengah = np.array([1749999.5, 2649999.5, 3549999.5 , 4449999.5 , 5349999.5 , 6249999.5 , 7149999.5 , 8049999.5 ])
frekuensi = np.array([26,41,15,8,4,1,0,3])
 
def jumlahFrekuensi(frekuensi):
    a = 0
    b = frekuensi 
    jumlahFrekuensi = len(b) 
 
    for i in range(jumlahFrekuensi): 
        c = b[i] 
        a+=c
    return a 
 
print("Jumlah frekuensi adalah :",jumlahFrekuensi(frekuensi)) 
 
def jumlahnilai(nilaitengah,frekuensi): 
    hasil = nilaitengah * frekuensi 
    total = sum(hasil)
    return total     
print("Total dari Nilai Tengah kali Frekuensi adalah:", jumlahnilai(nilaitengah,frekuensi)) 
 
ratarata = jumlahnilai(nilaitengah, frekuensi) / jumlahFrekuensi(frekuensi)
print ("Jadi Rata-ratanya adalah", ratarata)

Jumlah frekuensi adalah : 98
Total dari Nilai Tengah kali Frekuensi adalah: 294799951.0
Jadi Rata-ratanya adalah 3008162.7653061226

##Median

In [ ]:
from google.colab import files
files.upload()

Saving Statistikakel8c.csv to Statistikakel8c.csv

{'Statistikakel8c.csv': b'Min kelas interval,Max kelas interval,Xi,f,Tb,Ta,fkk\r\n1,1000000,500000.50,1,0.5,1000000.5,1\r\n1000001,2000000,1500000.50,45,1000000.5,2000000.5,46\r\n2000001,3000000,2500000.50,58,2000000.5,3000000.5,104\r\n3000001,4000000,3500000.50,24,3000000.5,4000000.5,128\r\n4000001,5000000,4500000.50,8,4000000.5,5000000.5,136\r\n5000001,6000000,5500000.50,4,5000000.5,6000000.5,140\r\n6000001,7000000,6500000.50,1,6000000.5,7000000.5,141\r\n7000001,8000000,7500000.50,3,7000000.5,8000000.5,144\r\n8000001,9000000,8500000.50,2,8000000.5,9000000.5,146\r\n'}

In [ ]:
df = pd.read_csv('Statistikakel8c.csv')
df.head()

   Min kelas interval  Max kelas interval         Xi  ...         Tb         Ta  fkk
0                   1             1000000   500000.5  ...        0.5  1000000.5    1
1             1000001             2000000  1500000.5  ...  1000000.5  2000000.5   46
2             2000001             3000000  2500000.5  ...  2000000.5  3000000.5  104
3             3000001             4000000  3500000.5  ...  3000000.5  4000000.5  128
4             4000001             5000000  4500000.5  ...  4000000.5  5000000.5  136

[5 rows x 7 columns]

In [ ]:
fmed = df['f'].sum()/2
if fmed > 0 and fmed < 1:
  F = df['f'].values[0]
  fi = 0
  b = df['Tb'].values[0]
elif fmed > 1 and fmed < 46:
  F = df['f'].values[1]
  fi = df['fkk'].values[0]
  b = df['Tb'].values[1]
elif fmed > 46 and fmed <104:
  F = df['f'].values[2]
  fi = df['fkk'].values[1]
  b = df['Tb'].values[2]
elif fmed > 104 and fmed <128:
  F = df['f'].values[3]
  fi = df['fkk'].values[2]
  b = df['Tb'].values[3]
elif fmed > 128 and fmed <136:
  F = df['f'].values[4]
  fi = df['fkk'].values[3]
  b = df['Tb'].values[4]
elif fmed > 136 and fmed <140:
  F = df['f'].values[5]
  fi = df['fkk'].values[4]
  b = df['Tb'].values[5]  
elif fmed > 140  and fmed <141:
  F = df['f'].values[6]
  fi = df['fkk'].values[5]
  b = df['Tb'].values[6]  
elif fmed > 140 and fmed <144:
  F = df['f'].values[7]
  fi = df['fkk'].values[6]
  b = df['Tb'].values[7]
else:
  F = df['f'].values[8]
  fi = df['fkk'].values[7]
  b = df['Tb'].values[8]


p = 1000000
n = df['f'].sum()
median = b + p * (((0.5 * n )- fi)/F )
print("\nNilai median : ", round(median, 2))

Nilai median :  2465517.74

##Modus

In [ ]:
##### MODUS #####

df = pd.read_csv('kuesioner-statistika.csv', delimiter=';') # memuat file csv
harga = df['Harga'] # mengambil kolom 'Harga' untuk digunakan sebagai perhitungan

def nilai_modus(deret): # membuat fungsi untuk mencari modus dengan parameter 'deret'
    show_map = {} # membuat dictionary untuk menyimpan kemunculan tiap data
    for i in deret: # melakukan perulangan satu-persatu sebanyak data pada parameter 'deret'
        if i in show_map: # periksa apakah data pada perulangan saat ini ada pada dictionary 'show_map'
            show_map[i] += 1 # apabila ada, maka tambahkan value sebanyak 1 pada key ke-i di dictionary 'show_map'
        else: # jika tidak ada
            show_map[i] = 1 # buat key baru pada dictionary 'show_map' berupa data pada perulangan saat ini, kemudian berikan value sebanyak 1

    max_num = deret[0] # buat variabel baru untuk menyimpan data terbanyak saat ini. ambil data pertama sebagai yang terbanyak
    for j in show_map.keys(): # melakukan perulangan satu-persatu sebanyak jumlah key pada dictionary 'show_map'
        sum = show_map[j] # buat variabel baru untuk menyimpan jumlah data pada perulangan saat ini
        if sum > show_map[max_num]: # periksa apakah jumlah data pada perulangan saat ini lebih besar dari data terbanyak saat ini
            max_num = j # apabila lebih besar, maka ubah data terbanyak saat ini menjadi data pada perulangan saat ini

    return max_num # mengembalikan nilai berupa data terbanyak saat ini

modus = nilai_modus(harga) # memanggil fungsi 'nilai_modus' dengan parameter berisi variabel 'harga'
print("Modusnya adalah : ", modus) # cetak hasil dari perhitungan fungsi 'nilai_modus'

Modusnya adalah :  2500000

##Range

In [ ]:
#Cara 1
Xi_Akhir = df['Xi'].values[8]
Xi_Awal = df['Xi'].values[0]

Range1 = Xi_Akhir - Xi_Awal
print("Cara 1\nRange = ",Range1)

Cara 1
Range =  8000000.0

In [ ]:
#Cara 2
Ta_akhir = df['Ta'].values[8]
Tb_awal = df['Tb'].values[0]

Range2 = Ta_akhir - Tb_awal
print("Cara 2\nRange = ",Range2)

Cara 2
Range =  9000000.0

##Simpangan

In [4]:
nilaitengah = np.array([1749999.5, 2649999.5, 3549999.5 , 4449999.5 , 5349999.5 , 6249999.5 , 7149999.5 , 8049999.5 ])
frekuensi = np.array([26,41,15,8,4,1,0,3])
 

b=nilaitengah #nilaitengah
d=frekuensi #frekuensi
ftgh=0 #nilai tengak dikali frekuensi
fk=0 #jumlah frekuensi
sigma=0 #jumlah frekuensi dikali nilai tengah dikurangi rata-rata kuadrat

jumlahFrekuensi = len(b) 
 
for i in range(jumlahFrekuensi): 
  ftgh = ftgh+b[i]*d[i]
  fk= fk+d[i]
    
print('jumlah nilai tengak dikali frekuensi :',ftgh)
print('jumlah frekuensi',fk)

rata2=ftgh/fk
print("Jadi Rata-ratanya adalah",rata2)

#simpangan rata-rata
for i in range(jumlahFrekuensi): 
  sigma = sigma+np.absolute(b[i]-rata2)*d[i]
  sr=(sigma/fk)
print('nilai simpangan rata-rata',sr)

#simpangan baku

for i in range(jumlahFrekuensi): 
  sigma = sigma+(b[i]-rata2)**2*d[i]
  sb=mt.sqrt(sigma/fk)
print('nilai simpangan baku',sb)

jumlah nilai tengak dikali frekuensi : 294799951.0
jumlah frekuensi 98
Jadi Rata-ratanya adalah 3008162.7653061226
nilai simpangan rata-rata 967284.4648063307
nilai simpangan baku 1340722.3311336068